<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Detalles del Módulo</h1>
    </header>
    <main>
        <section id="moduleDetails">
            <h2>Nombre del Módulo</h2>
            <p>Descripción del Módulo</p>
        </section>
        <section id="moduleExercises">
            <h2>Ejercicios</h2>
            <ul id="exerciseList"></ul>
        </section>
    </main>
    <script src="/js/modules.js"></script>
</body>
</html>
